menu "Board Options"
    
    choice BOARD_TARGET
        prompt "Choose Target Board"

        config BOARD_LAVAZZA_4_3
            bool "Lavazza 4.3' capacitive"
        config BOARD_LAVAZZA_3_5
            bool "Lavazza 3.5' resistive"
        config BOARD_ESP32_LCDKIT
            bool "Board ESP32-LCDKit_V1.1"        
        config BOARD_CUSTOM
            bool "Lavazza 4.3' capacitive"
    endchoice

    menu "Custom Board Options"
        visible if BOARD_CUSTOM

        orsource "./custom/Kconfig.in"
        #source "{absolute path}/custom/Kconfig.in" # v4.0 Backwards compatibility
    endmenu
endmenu
